body{
  background-color: beige;
  margin: 0 auto;
  font-family: cursive;
}
header{
  height: 50px;
  background-color: rgb(0, 0, 0);
  text-align: center;
  color: #fff;
}
header h1{
  margin-top: 0;
}
.input{
  display: flex;
  justify-content: center;
  margin: 10px;
}
.options{
  display: flex;
  justify-content: space-between;
}
#toDos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#single{
  max-width: 300px;
  margin: 5px;
  padding: 5px;
  display: none;
  border: 1px solid gray;  
  border-radius: 5px;
}

#cross,#color,#edit{
  padding: 0px 7px;
  color: white;
  border-radius: 20px;
  margin: 0 5px;
  cursor: pointer;
  border: 2px solid white;
}
#cross{background-color: red;}
#color{background-image: linear-gradient(red,blue);}
#edit{background-color: green;}